/* .card__container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  border-radius: 20px;
  min-height: 200px;
  width: 80%;
  max-width: 200px;
  padding: 20px;
  margin: 10px;
}

.card__image {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(192, 192, 254);
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.card__name {
  position: absolute;
  color: #000000;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  bottom: 0;
  height: 30%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

*/

.card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start; /* Align items to the start of the flex container */
  text-align: center;
  background-color: #ffffff;
  border-radius: 20px;
  width: 80%;
  max-width: 200px;
}

.card__image {
  background-color: rgb(192, 192, 254);
  width: 100%;
  border-radius: 20px 20px 0 0; /* Apply rounded corners only to the top */
}

.card__name {
  color: #000000;
  background-color: #ffffff;
  width: 100%;
  border-radius: 0 0 20px 20px; /* Apply rounded corners only to the bottom */
  padding: 10px; /* Add padding for better appearance */
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .card__container {
    flex-direction: column; /* Switch to column layout on smaller screens */
    align-items: center; /* Center items vertically */
  }
}
