.header {
  display: flex;
  background-color: #fca2a2;
  width: 100vw;
  position: absolute;
  align-items: center;
  padding: 20px;
  top: 0;
  left: 0;
}

.linkLogo {
  color: #000000;
  text-decoration: none;
}

.logo {
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar {
  color: #000000;
  margin-left: auto;
}

.ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
